@import "../../../styles/variables";

.login {
  padding: 12px 40px;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  text-decoration: none;
  background-color: transparent;
  color: $primary-color;
  border: 1px solid $primary-color;
  display: inline-block;
  text-align: center;

  &:hover {
    background-color: $primary-color;
    color: white;
  }
}
