@import "../../../styles/variables";

.authButton {
  padding: 12px;
  border: 1px solid $primary-color;
  color: $primary-color;
  background: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1rem;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  &:hover {
    background-color: $primary-color;
    color: white;
  }
}
