@import '../../../styles/variables';

.messageContainer {
  margin-bottom: 10px;
  text-align: left;
}

.senderName {
  font-weight: bold;
  margin-bottom: 5px;
  color: $primary-color;
}

.message {
  padding: 10px;
  padding-left: 0px;
  border-radius: 10px;
  font-size: 1rem;
  color: $primary-color;
  text-align: left;
}
